.typography-hover:hover {
  color: #00ccfd;
}
.card {
  /* color: #00ccfd; */
  /* background: #2011a2; */
  /* background-color: #2011a2; */
  box-shadow: #00ccfd;
}
.card-hover:hover {
  border-color: #ff34b3;
}

.nav-text:hover {
  color: #ff34b3;
  background: #201148;
}

input {
  width: 70%;
  border-radius: 0.75rem;
  height: 40px;
  padding: 0.25rem;
}

input:focus {
  height: 45px;
}

textarea {
  width: 70%;
  border-radius: 0.75rem;
  padding: 0.25rem;
  height: 200px;
}

/* textarea:focus {
  height: 200px;
} */

textarea,
input {
  background-color: #201148;
  color: #ff34b3;
}
