@tailwind base;
@tailwind components;
@tailwind utilities;
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  transition: transform 1s ease;
}
.logo:hover {
  transform: scale(1.2);
}

/* @keyframes logo-spin {
  from {
    transform: rotate(1deg);
  }
  to {
    transform: rotate(2deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .logo:hover {
    animation: logo-spin infinite 1s linear;
  }
} */
