@tailwind base;
@tailwind components;
@tailwind utilities;

.main {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.about-me {
  display: flex;
  flex-direction: column;
  text-align: justify !important;
  /* padding-top: 2rem; */
  padding-bottom: 2rem;
}

.about-me-content {
  padding-left: 2rem;
  padding-right: 2rem;
}

.photo {
  border-radius: 50%;
  /* padding-top: 3rem; */
  /* margin-left: 15px; */
}

.logo {
  transition: transform 1s ease;
}
.logo:hover {
  transform: scale(1.2);
}

/* @keyframes logo-spin {
  from {
    transform: rotate(1deg);
  }
  to {
    transform: rotate(2deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .logo:hover {
    animation: logo-spin infinite 1s linear;
  }
} */
